html, body, h1, p, a {
  padding: 0px;
}

html {
  border: solid 3px #ff00ff;
}

body {
  border: dashed 3px #000000;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  border: solid 3px #ff0000;
  width: 50%;
}

p {
  border: solid 3px #0000ff;
}

a {
  border: solid 3px #00ff00;
}