
.icon-user:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-play-circle2:before { content: '\e803'; } /* '' */
.icon-info-1:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-picture-1:before { content: '\e807'; } /* '' */
.icon-video-1:before { content: '\e808'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */